@media screen and (max-width: 1000px) {

*{
	margin:0 0;
　　box-sizing:border-box;
　　margin-bottom: 1.25rem;
}
body{
	/*padding:0 10% 0 10%;*/
	position: relative;
}
#top-btn{
	position: fixed;
	z-index: 100;
	display: none;
	width:80px;
	height: 80px;
	line-height: 80px;
	text-align: center;
	background-color: #ECECEC;
	bottom: 15%;
	right: 5%;
	cursor: pointer;
}

span.br::before{
	content:"\A";
	white-space: pre;
}
/*============= H E A D E R ====================*/

#header{
	width:100%;
	height:72px;
	position: fixed;
	z-index: 100;
	background-color: white;
}
#header div.header-left{
	height:72px;
	width:50%;
	float: left;
}
#header div.header-left img{
	width:125px;
	padding-top:15px;
	padding-left:40px;
	float: left;
}
#header div.header-left p{
	float: left;
	padding-top: 36px;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 1.3px;
}

#header div.header-right{
	height: 72px;
	width:50%;
	float:left;
}
#header div.header-right a{
	display: none;
}
#header div.header-right a.contactsp{
	display:inline-block;
	position: absolute;
	top:0;
	right: 0;
	width: 20%;
	height: 72px;
	background-color: #D84940;
	color: white;
	text-align: center;
}
#header div.header-right a.contactsp span:hover{
	display:inline-block;
	border-bottom: 1px solid white;
}
/*============= C O N T E N T ====================*/

#content div.content-top{
	background-image: url("public/mainsp.jpg");
	background-size: cover;
	background-position: center center;
	background-color:skyblue;
	height: auto;
	max-width:100%;
	text-align: center;
}
#content div.content-top h1{
	padding-top: 174px;
	line-height: 60px;
	font-size:28px;
	font-weight:600;
}
#content div.content-top img{
	padding-top: 30px;
}
#content div.content-top p{
	padding-top: 64px;
	padding-bottom: 120px;
	font-size:20px;
	font-weight:600;
}
/*========= d i v . c o n t a c t =========*/
#content div.contact{
	text-align: center;
	background-color: #EBB94D;
	overflow: hidden;
}
#content div.contact p{
	color:white;
	font-weight:600;
	font-size:20px;
	line-height:32px;
}
#content div.contact .p1{
	padding-top: 30px;
}
#content div.contact .con1{
	display: inline-block;
	color:red;
	background-color: white;
	font-weight:600;
	font-size:20px;
	margin:20px 0 0 0;
	margin-bottom: 15px;
}

#content div.contact .con2{
	display: block;
	padding: 30px 0 30px 0;
	max-width:870px;
	margin:0 auto;
	border-radius: 50px;
	color: white;
	background-color: #D84940;
	font-size: 20px;
	font-weight:600;
	letter-spacing: 2.5px;
	cursor: pointer;
}
#content div.contact .p2{
	margin-top: 15px;
	margin-bottom: 20px;
}
#content div.contact .p3{
	margin-bottom: 40px;
}
#content div.contact .p4{
	margin-bottom: 40px;
}
#content div.contact .btn-wrap{
	padding-bottom: 50px;
}
#content div.contact .btn{
	font-size:10px;
	font-weight: bold;
	color:white;
	display: inline-block;
	padding:5px 10px ;
	border-radius: 4px;
	cursor: pointer;
}
#content div.contact .btn1{
	background-color: #1B95E0;
}
#content div.contact .btn2{
	background-color: #4267B2;
}
#content div.contact .btn3{
	background-color: #4267B2;
}
/*========= d i v . i n t r o d u c t i o n =========*/
#content div.introduction .intro-top{
	height:auto;
	width: 100%;
	padding: 40px 0;
	box-sizing: border-box;
}
#content div.introduction .intro-text-wrap{
	max-height:auto;
	max-width:860px;
	margin:0 auto;
	position: relative;
}
#content div.introduction .intro-text-wrap p{
	text-align: center;
	padding:30px 20px 30px 20px;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 1.6px;
}
#content div.introduction .intro-cornar-left{
	height: 50px;
	width: 50px;
	left:10px;
	position: absolute;
	border-top: solid 4px #EBB94D;
	border-left: solid 4px #EBB94D;
}
#content div.introduction .intro-cornar-right{
	height: 50px;
	width: 50px;
	position: absolute;
	right:10px;
	bottom:0;
	border-right: solid 4px #EBB94D;
	border-bottom: solid 4px #EBB94D;
}
#content div.introduction .intro-bottom{
	background-image: url("public/introbottom.jpg");
	background-size: cover;
	background-position: center bottom;
	padding-bottom: 140px;
	text-align: center;
}
#content div.introduction .intro-bottom p{
	text-align: center;
	font-weight: 300;
	font-size: 16px;
	width:90%;
	display: inline-block;
	color: #7B7B7B;
}
#content div.introduction .intro-bottom p span.power{
	display: inline-block;
	line-height: 0.5;
	font-weight: 600;
	border-bottom: solid 8px #EBB94D;
}
/*========= d i v . a b o u t =========*/

#content div.about{
	padding-top:50px;
	background-color: #FEF5E0;
	position: relative;
}
#content div.about .about-top .about-icon{
	height:80px; 
	width:80px;
	border-radius: 50%;
	background-color: #EBB94D;
	text-align:center;
	line-height: 80px;
	vertical-align: middle;
	color: white;
	font-size: 14px;
	font-weight: 400;
	position: absolute;
	top:-40px;
	left:calc(50% - 40px);
}

#content div.about .about-top .about-text-wrap{
	max-height:auto;
	max-width:860px;
	margin:0 auto;
	position: relative;
}
#content div.about .about-top .about-text-wrap p{
	padding:50px 0 50px 0;
	text-align: center;
	font-size: 24px;
	font-weight: 600;
	letter-spacing: 1.6px;
}
#content div.about .about-top .about-cornar-left{
	height: 50px;
	width: 50px;
	position: absolute;
	border-top: solid 4px #EBB94D;
	border-left: solid 4px #EBB94D;
}
#content div.about .about-top .about-cornar-right{
	height: 50px;
	width: 50px;
	position: absolute;
	right:0;
	bottom:0;
	border-right: solid 4px #EBB94D;
	border-bottom: solid 4px #EBB94D;
}
#content div.about .about-top .about-text-answer{
	padding:45px 0 45px 0;
	text-align: center;
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 1.5px;
}
#content div.about .about-bottom{
	padding-bottom: 50px;
}
#content div.about .about-bottom .about-bottom-wrap{
	border:solid 2px #EBB94D;
	background-color: white;
	max-width: 92%;
	height:200px;
	margin:0 auto;
	padding-bottom: 50px;
}
#content div.about .about-bottom .about-skills-cap p{
	text-align: center;
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 1.5px;
	padding:30px 0 30px 0;
}
#content div.about .about-bottom .about-skills-wrap{
	text-align: center;
}
#content div.about .about-skills-wrap .skill{
	padding-left: 20px;
	height:auto;
	display: inline-block;
	text-align: center;
}
#content div.about .about-skills-wrap .skill img{
	height:40%;
}
#content div.about .about-skills-wrap .skill p{
	font-size: 12px;
	font-weight: 300;
}
/*========= d i v . a b o u t s e c o n d =========*/
#content div.aboutsecond{
	background-image: url("public/aboutsecondbg.jpg");
	background-size: cover;
	background-position: center bottom;
	padding-bottom: 40px;
	letter-spacing: 1.5px;
} 
#content div.aboutsecond .top-wrap{
	text-align: center;
	padding:70px 0 40px 0;
	color:white;
}
#content div.aboutsecond .top-wrap p:nth-child(1){
	font-size: 28px;
	font-weight:600;
	padding-bottom: 30px;
}
#content div.aboutsecond .top-wrap p:nth-child(2){
	font-size: 20px;
	font-weight:600;
	padding-bottom: 25px;
}
#content div.aboutsecond .top-wrap p:nth-child(3){
	font-size: 20px;
	font-weight:600;
}
#content div.aboutsecond .top-wrap span{
	color:#EBB94D;
}
#content div.aboutsecond .bottom-wrap .steps{
	text-align: center;
}
#content div.aboutsecond .bottom-wrap .step{
	text-align: center;
	display: inline-block;
	width:30%;
	height:150px;
	background-color:white;
	padding:30px 0 35px 0;
	border-radius: 10px;
}
#content div.aboutsecond .bottom-wrap .step div{
	margin:0 auto;
	color:white;
	max-width:80%;
	padding:10px 0;
	background-color: #EBB94D;
	font-size: 16px;
	font-weight: bold;
	border-radius: 10px;
}
#content div.aboutsecond .bottom-wrap .step p{
	padding-top: 35px;
	font-size: 16px;
	font-weight: bold;
}
/*========= d i v . a b o u t t h i r d =========*/
#content div.aboutthird{
	text-align: center;
	padding:40px 0 45px 0;
	letter-spacing: 1.5px;
	color: white;
	background-color: #016EA9;
}
#content div.aboutthird p{
	font-size:16px;
	font-weight: 600;
}
#content div.aboutthird span{
	color:#EBB94D;
}
/*========= d i v . l e a r n i n g =========*/
#content div.learning .top{
	text-align: center;
	padding:70px 0 50px 0;
}
#content div.learning .top p:nth-child(1){
	letter-spacing: 1.5px;
	font-size:24px;
	font-weight: 600;
	padding-bottom: 50px;
}
#content div.learning .top span{
	font-size:14px;
}
#content div.learning .top p:nth-child(2){
	font-size: 16px;
}
#content div.learning .main{
	text-align: center;
}
#content div.learning .main img{
	padding:0 20px 0 20px;
}
#content div.learning p.bottom{
	text-align: center;
	padding:56px 0 70px 0;
	font-weight: 600;
}

/*========= d i v . m e r i t =========*/
#content div.merit{
	background-color: #FEF5E0;
	padding-top: 40px;
}

#content div.merit .top-wrap{
	max-height:140px;
	max-width:860px;
	margin:0 auto;
	position: relative
}
#content div.merit .top-wrap p{
	padding:30px 20px 30px 20px;
	text-align: center;
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 1.6px;
	box-sizing: border-box;
}
#content div.merit .top-wrap span{
	font-size: 16px;
}
#content div.merit .cornar-left{
	height: 50px;
	width: 50px;
	position: absolute;
	border-top: solid 4px #EBB94D;
	border-left: solid 4px #EBB94D;
	left:10px;
}
#content div.merit .cornar-right{
	height: 50px;
	width: 50px;
	position: absolute;
	right:10px;
	bottom:0;
	border-right: solid 4px #EBB94D;
	border-bottom: solid 4px #EBB94D;
}

#content div.merit .main{
	text-align: center;
	padding-top: 40px;
}
#content div.merit .main .content{
	display: inline-block;
	box-sizing: border-box;
	width:90%;
	vertical-align: top;
}
#content div.merit .main .content .imgone{
	background-image: url("public/learnfromfreelancer.jpg");
}
#content div.merit .main .content .imgtwo{
	background-image: url("public/learnfromprojects.jpg");
}
#content div.merit .main .content .imgthree{
	background-image: url("public/actuallyfree.jpg");
}
#content div.merit .main .content .img{
	background-position: center center;
	background-size: cover;
	height: 180px;
	width: 100%;
}
#content div.merit .main .content p.sub{
	font-size:20px ;
	font-weight:700;
	color:#EBB94D;
	letter-spacing: 1.6px;
	text-align: center;
	padding:10px 0;
}
#content div.merit .main .content p.cen{
	text-align: left;
	letter-spacing: 1.4px;
	padding-bottom: 10px;
}

#content div.merit .bottom{
	padding:55px 0 55px 0;
}
#content div.merit .bottom .bottom-top{
	margin:0 auto;
	width:90%;
	border:solid 2px #EBB94D;
	border-radius: 5px;
	padding:40px 0 50px 0;
	background-color: white;
	text-align: center;
}
#content div.merit .bottom .top1{
	font-size:20px;
	font-weight: 600;
	letter-spacing: 1.6px;
	color:#EBB94D;
	padding-bottom: 10px;
}
#content div.merit .bottom .top2{
	font-size:16px;
	font-weight: 600;
	letter-spacing: 1.6px;
	padding-bottom: 10px;
}
#content div.merit .bottom .top3{
	font-size:12px;
	font-weight: 600;
	letter-spacing: 1.6px;
}
#content div.merit .bottom .bottom-bottom{
	padding-top: 45px;
	width: 90%;
	font-size:14px;
	font-weight: 300;
	margin: 0 auto;
	text-align: center;
}
/*========= d i v . t e a c h e r w r a p =========*/
#content div.teacherwrap{
	background-image: url("public/teacherbgsp.jpg");
	background-size: cover;
	background-position: center center;
	text-align: center;
	padding: 70px 0 50px 0;
	color: white;
}
#content div.teacherwrap .teach-sub{
	font-size: 20px;
	font-weight: 600;
	letter-spacing:1.4px ;
}
#content div.teacherwrap .teach-content{
	font-size: 10px;
	font-weight:600;
	letter-spacing:1.4px ;
	width:75%;
	display: inline-block;
}
#content div.teacherwrap .teachers{
	margin:0 auto;
	text-align: center;
	width:100%;
}
#content div.teacherwrap .teachers .teacher{
	padding:130px 0 0 0;
	display: inline-block;
	width: 100%;
	vertical-align: top;
}
#content div.teacherwrap .teachers .intro img{
	margin-top: -120px;
	text-align: center;
	border-radius: 50%;
	width:120px;
	height:120px;

}
#content div.teacherwrap .teachers .teacher .intro{
	display: inline-block;
	position: relative;
	width:90%;
	border:3px solid white;
	padding:10px 10px 10px 10px;
	font-size:14px;
}
#content div.teacherwrap .teachers .teacher .intro-content{
	padding:10px 10px 10px 10px;
	text-align: left;
}
/*========= d i v . w h y =========*/
#content div.why{
	background-color: #EBB94D;
	padding-top: 50px;
	padding-bottom: 50px;
}
#content div.why .why-circle{
}
#content div.why .circle{
	margin: 0 auto;
	height:80px;
	width:80px;
	border-radius: 50%;
	background-color: white;
	color:#EBB94D;
	text-align: center;
	line-height: 80px;
}

#content div.why .top-wrap{
	max-height:140px;
	max-width:860px;
	margin:0 auto;
	position: relative;
	color:white;
}
#content div.why .top-wrap p{
	padding:30px 20px 30px 20px;
	text-align: center;
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 1.6px;
}
#content div.why .top-wrap span{
	font-size: 20px;
}
#content div.why .cornar-left{
	height: 50px;
	width: 50px;
	left:10px;
	position: absolute;
	border-top: solid 4px white;
	border-left: solid 4px white;
}
#content div.why .cornar-right{
	height: 50px;
	width: 50px;
	position: absolute;
	right:10px;
	bottom:0;
	border-right: solid 4px white;
	border-bottom: solid 4px white;
}
/*========= d i v . a n s w e r =========*/
#content div.answer{
	width:100%;
	padding-bottom: 10px;
} 
#content div.answer .triangle-wrap{
	width:30px;
	margin: 0 auto;
}
#content div.answer .triangle{
  border-top: 30px solid #EBB94D;
  border-right: 30px solid transparent;
  border-left: 30px solid transparent;
}
#content div.answer{
	text-align: center;
}
#content div.answer .content p:nth-child(1){
	font-size: 28px;
	font-weight: 600;
	padding-bottom: 30px;
}
#content div.answer .content p:nth-child(2){
	font-size: 16px;
	font-weight: 600;
	padding-bottom: 20px;
}
#content div.answer .content p:nth-child(3){
	font-size: 14px;
	padding-bottom: 30px;
}
#content div.answer .intro{
	width:100%;
	margin:0 auto;
	padding-left:10px;
	padding-bottom: 30px;
	overflow: hidden;
	box-sizing: border-box;
}
#content div.answer .intro div{
	display: inline-block;
	width:30%;
	float: left;
	box-sizing: border-box;
	border:solid orange 2px;
}
#content div.answer .intro div img{
	width:100%;
}
#content div.answer .intro p.coment{
	display: inline-block;
	box-sizing: border-box;
	width: 70%;
	text-align:left;
	font-size: 12px;
	padding:0 5px;
}
#content div.answer .intro span{
	text-decoration:underline;
}
/*========= d i v . c l a s s =========*/
#content div.class{
	background-image: url("public/classbg.jpg");
	background-position: center center;
	background-size: cover;
}
#content div.class{

}
#content div.class .top{
	padding:40px 0 30px 0;
	text-align: center;
	letter-spacing: 1.6px;
	color: white;
}
#content div.class p:nth-child(1){
	font-size: 28px;
	font-weight: 600;
	padding-bottom: 10px;
}
#content div.class p:nth-child(2){
	font-size: 18px;
	font-weight: 600;
}
#content div.class .bottom{
	text-align: center;
	padding-bottom: 50px;
}
#content div.class .bottom ul{
	text-align: center;
	display: inline-block;
	padding-left: 0;
	margin: 0 10px 30px 10px;
	width: 80%;
	vertical-align: top;
	list-style: none;
	border:2px solid #016EA9;
	background-color: white;
	font-weight: bold;
}
#content div.class .bottom ul li:nth-child(1){
	background-color: #016EA9;
	font-size: 20px;
	padding: 15px 0 15px 0;
	color: white;
}
#content div.class .bottom ul li{
	padding:10px 0 10px 0;
	font-size: 18px;
	border-bottom:0.5px #E5E5E5 solid;
}
/*========= d i v . c l a s s b o t t o m =========*/
#content div.classbottom{
	background-color: #016EA9;
	color: white;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 1.6px;
	text-align: center;
	padding:30px 0 30px 0;
}
#content div.classbottom p{
	line-height: 1.5;
}	
/*========= d i v . f l o w =========*/
#content div.flow{
	text-align: center;
	font-size: 0;
	padding-bottom: 40px;
}
#content div.flow p{
	font-size: 28px;
	font-weight: bold;
	padding:50px 0 50px 0;
}
#content div.flow img{
	width:80%;
	padding-bottom: 30px;
}
#content div.flow .content-wrap{
	display: inline-block;
	width:80%;
	background-color: #FEF5E0;
	padding:20px 30px 20px 40px;
}
#content div.flow .content-wrap .left{
	display: inline-block;
	width:30%;
	float: left;
}
#content div.flow .content-wrap .left img{
	width:50%;
	padding-bottom: 10px;
}
#content div.flow .content-wrap .left p{
	padding:10px 0 0 0;
	font-size: 18px;
}
#content div.flow .content-wrap .right{
	display: inline-block;
	width:70%;
}
#content div.flow .content-wrap .right p{
	padding:10px 0 0 0;
	vertical-align: top;
	text-align: left;
	font-size: 14px
}
#content div.flow .content-wrap .right p span{
	font-size: 20px
}
#content div.flow .flow-connect{
	width:60%;
	padding:0 0 0 0;
}


/*========= d i v . b a n g k o k =========*/
#content div.bangkok{
	background-image: url("public/bangkokbg.jpg");
	background-position: center center;
	background-size: cover;
	text-align: left;
	padding: 50px 0 40px 30px;
	color: white;
}
#content div.bangkok p:nth-child(1){
	font-size: 22px;
	font-weight: bold;
	letter-spacing: 1.4px;
	padding-bottom: 30px;
	text-align: center;
}
#content div.bangkok p:nth-child(2){
	font-size: 12px;
	font-weight: normal;
	letter-spacing: 1.4px;
	padding-bottom: 30px;
}
#content div.bangkok ul{
	font-size: 10px;
	font-weight: bold;
	letter-spacing: 1.4px;
	padding-left: 0;
}
#content div.bangkok ul li{
	padding-bottom: 10px;
}
#content div.bangkok p.bottom{
	padding:20px 0 30px 0;
	font-size: 15px;
	font-weight: bold;
}
/*========= d i v . s p e c i a l =========*/
#content div.special{
	text-align: center;
	background-color: #F7C23C;
	padding-bottom: 40px;
	overflow: hidden;
}
#content div.special span{
	color:white;
}
#content div.special p.title{
	font-size: 26px;
	font-weight: bold;
	letter-spacing: 1.4px;
	padding:40px 0 40px 0;
}
#content div.special p:nth-child(2){
	display: inline-block;
	margin-bottom: 100px;
	font-weight: bold;
	width: 80%;
}
#content div.special .content-wrap{
	width:80%;
	border:solid white 5px;
	margin:0 auto;
	font-size: 0;
	padding:40px;
	text-align: center;
}
#content div.special .content-wrap p.sub{
	font-size: 24px;
	letter-spacing: 2.5px;
	font-weight: bold;
	background-color: #F7C23C;
	margin-top: -100px;
	padding-bottom:40px;
}
#content div.special .content{
	display: inline-block;
	height: 50%;
	width:calc(100% / 1);
    background-color: none;
    vertical-align: top;
    font-size:10px;
    padding-bottom: 30px;
}
#content div.special .content .circle{
	height:250px;
	width:250px;
	border-radius: 50%;
	background-color: white;
	margin:0 auto;
	font-weight: bold;
}
#content div.special .content .circle p:nth-child(1){
	height:120px;
	line-height: 120px;
	font-size: 24px;
	color:orange;
}
#content div.special .content .circle p.txt{
	font-size: 14px;
	letter-spacing: 1.2px;
	padding:0 12px 8px 12px;
}

/*========= d i v . s p e c i a l d e t a i l =========*/
#content div.specialdetail{
	padding-top: 50px;
	text-align: center;
	font-size:14px;
	letter-spacing: 1.4px;
	font-weight: bold;
	color: white;
	background-image: url("public/specialdetail.jpg");
	background-size: cover;
	background-position: center center;
}
#content div.specialdetail p{
	display: inline-block;
	padding-bottom: 30px;
	width: 90%;
}

#content div.specialdetail p:nth-child(1){
	display: inline-block;
	font-size: 20px;
}
#content div.specialdetail .top-wrap{
	max-height:140px;
	max-width:860px;
	margin:0 auto;
	position: relative;
	color:white;
}
#content div.specialdetail .top-wrap p{
	padding:30px 20px 30px 20px;
	text-align: center;
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 1.6px;
}
#content div.specialdetail .top-wrap span{
	font-size: 20px;
}
#content div.specialdetail .cornar-left{
	height: 50px;
	width: 50px;
	left:10px;
	position: absolute;
	border-top: solid 4px white;
	border-left: solid 4px white;
}
#content div.specialdetail .cornar-right{
	height: 50px;
	width: 50px;
	position: absolute;
	right:10px;
	bottom:0;
	border-right: solid 4px white;
	border-bottom: solid 4px white;
}
/*========= d i v . l e a r n i n g =========*/
#content div.learning{
	text-align: center;
	padding:40px 0 50px 0;
}
#content div.learning p:nth-child(1){
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 1.6px;
	padding-bottom:40px;
}
#content div.learning p:nth-child(2){
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 1.6px;
	padding-bottom:40px;
}
#content div.learning .bottom{
	text-align: center;
	width: 90%;
	margin:0 auto;
}
#content div.learning .bottom img{
	width:100%;
	float: inherit;
}
#content div.learning .bottom p{
	font-size: 14px;
	font-weight: 200;
	letter-spacing: 1.6px;
	display: inline-block;
	text-align: left;
	width: 100%;
	padding:0 0 0 0;
	box-sizing: border-box;
}
/*========= d i v . c o n t a c t f o r m =========*/
#content div.contactform{
	background-color: #EBB94D;
	text-align: center;
	padding-bottom: 60px;
}
#content div.contactform .top{
	padding:40px 0 30px 0;
	font-size: 16px;
	font-weight: bold;
}
#content div.contactform .top p{
	padding-bottom: 20px;
}
#content div.contactform .top span{
	font-size: 28px;
}

#content div.contactform .bottom {
}
#content div.contactform .bottom input{
	width: 85%;
	height: 60px;
	border:1px solid transparent;
	border-radius: 5px;
	margin-bottom:20px;
	padding:0 10px 0 10px;
	font-size: 20px;
}
#content div.contactform .bottom input:nth-child(3){
	margin-bottom:40px;
}
#content div.contactform .bottom textarea{
	width: 85%;
	height: 90px;
	border:1px solid transparent;
	border-radius: 5px;
	padding: 10px;
	margin-bottom:40px;
	font-size: 18px;
}
#content div.contactform .bottom a{
	display: block;
	padding: 15px 0 15px 0;
	max-width:90%;
	margin:0 auto;
	border-radius: 40px;
	color: white;
	background-color: #D84940;
	font-size: 20px;
	font-weight:600;
	letter-spacing: 2.5px;
	cursor: pointer;
}
/*========= d i v . q u e s t i o n s =========*/
#content div.questions{
	text-align: center;
	padding:40px 0 40px 0;
}
#content div.questions .sub{
	font-size: 24px;
	font-weight: bold;
	padding-bottom: 40px;
}
#content div.questions ul {
	padding-left: 0;
	width: 90%;
	margin: 0 auto;
}
#content div.questions li {
	list-style: none;
	position: relative;
}
#content div.questions li p{
	text-align: left;
	padding:10px 30px 10px 10px;
	border: 1px solid #E5E5E5;
	margin:0 0 5px 0;

}
#content div.questions li p a:hover{
	text-decoration:underline;
	cursor: pointer;
}
#content div.questions li p.shitumon{
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 1.4px;
}
#content div.questions li p.kotae{
	display: none;
	border:none;
	font-size: 16px;
}
#content div.questions li span{
	text-align: right;
	position: absolute;
	font-size: 20px;
	top:10px;
	right:10px;
}
/*========= f o o t e r =========*/
/*========= d i v . f o o t e r w r a p =========*/
#footer div.footerwrap{
	background-color: #ECECEC;
	padding: 40px 0 30px 0;
}
#footer div.footerwrap p{
	text-align: center;
	font-size: 10px;
	letter-spacing: 1.4px;
}
#footer div.footerwrap p.p-top{
	padding-bottom: 20px;
}

#footer div.footerwrap .btn-wrap{
	padding-bottom: 20px;
	text-align: center;
}
#footer div.footerwrap .btn{
	font-size:10px;
	font-weight: bold;
	color:white;
	display: inline-block;
	padding:5px 10px ;
	border-radius: 4px;
	cursor: pointer;
}
#footer div.footerwrap .btn1{
	background-color: #1B95E0;
}
#footer div.footerwrap .btn2{
	background-color: #4267B2;
}
#footer div.footerwrap .btn3{
	background-color: #4267B2;
}

}