*{
	margin:0 0;
　　box-sizing:border-box;
　　margin-bottom: 1.25rem;
}
body{
	/*padding:0 10% 0 10%;*/
	position: relative;
}

/*============= H E A D E R ====================*/

#header{
	width:100%;
	height:72px;
	position: fixed;
	z-index: 100;
	background-color: white;
}
#header div.header-left{
	height:72px;
	width:50%;
	float: left;
}
#header div.header-left img{
	width:125px;
	padding-top:15px;
	padding-left:40px;
	float: left;
}
#header div.header-left p{
	float: left;
	padding-top: 36px;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 1.3px;
}

#header div.header-right{
	height: 72px;
	width:50%;
	float:left;
}
#header div.header-right a{
	display: inline-block;
	margin-top:12px; 
	margin-right:45px;
	padding: 15px 25px 15px 25px;
	border-radius: 25px;
	color: white;
	background-color: #D84940;
	font-size: 12px;
	letter-spacing: 2.5px;
	float:right;
}

/*============= C O N T E N T ====================*/

#content div.content-top{
	background-image: url("public/main.jpg");
	background-size: cover;
	background-position: center center;
	background-color:skyblue;
	height: auto;
	max-width:100%;
	text-align: center;
}
#content div.content-top h1{
	padding-top: 174px;
	line-height: 60px;
	font-size:28px;
	font-weight:600;
}
#content div.content-top img{
	padding-top: 30px;
}
#content div.content-top p{
	padding-top: 64px;
	padding-bottom: 120px;
	font-size:20px;
	font-weight:600;
}
/*========= d i v . c o n t a c t =========*/
#content div.contact{
	text-align: center;
	background-color: #EBB94D;
	overflow: hidden;
}
#content div.contact p{
	color:white;
	font-weight:600;
	font-size:20px;
	line-height:32px;
}
#content div.contact .p1{
	padding-top: 30px;
}
#content div.contact .con1{
	display: inline-block;
	color:red;
	background-color: white;
	font-weight:600;
	font-size:20px;
	margin:20px 0 0 0;
	margin-bottom: 15px;
}

#content div.contact .con2{
	display: block;
	padding: 30px 0 30px 0;
	max-width:870px;
	margin:0 auto;
	border-radius: 50px;
	color: white;
	background-color: #D84940;
	font-size: 20px;
	font-weight:600;
	letter-spacing: 2.5px;
}
#content div.contact .p2{
	margin-top: 15px;
	margin-bottom: 20px;
}
#content div.contact .p3{
	margin-bottom: 40px;
}
#content div.contact .p4{
	margin-bottom: 40px;
}
#content div.contact .btn-wrap{
	padding-bottom: 50px;
}
#content div.contact .btn{
	font-size:10px;
	font-weight: bold;
	color:white;
	display: inline-block;
	padding:5px 10px ;
	border-radius: 4px;,
}
#content div.contact .btn1{
	background-color: #1B95E0;
}
#content div.contact .btn2{
	background-color: #4267B2;
}
#content div.contact .btn3{
	background-color: #4267B2;
}
/*========= d i v . i n t r o d u c t i o n =========*/
#content div.introduction .intro-top{
	height:auto;
	width: 100%;
	padding: 50px 50px;
	box-sizing: border-box;
}
#content div.introduction .intro-text-wrap{
	max-height:100px;
	max-width:860px;
	margin:0 auto;
	position: relative;
}
#content div.introduction .intro-text-wrap p{
	text-align: center;
	line-height: 100px;
	font-size: 24px;
	font-weight: 600;
	letter-spacing: 1.6px;
}
#content div.introduction .intro-cornar-left{
	height: 50px;
	width: 50px;
	position: absolute;
	border-top: solid 4px #EBB94D;
	border-left: solid 4px #EBB94D;
}
#content div.introduction .intro-cornar-right{
	height: 50px;
	width: 50px;
	position: absolute;
	right:0;
	bottom:0;
	border-right: solid 4px #EBB94D;
	border-bottom: solid 4px #EBB94D;
}
#content div.introduction .intro-bottom{
	background-image: url("public/introbottom.jpg");
	background-size: cover;
	background-position: center bottom;
	padding-bottom: 140px;
}
#content div.introduction .intro-bottom p{
	text-align: center;
	font-weight: 300;
	font-size: 20px;
}
#content div.introduction .intro-bottom p span{
	display: inline-block;
	line-height: 0.5;
	font-weight: 600;
	border-bottom: solid 8px #EBB94D;
}
/*========= d i v . a b o u t =========*/

#content div.about{
	padding-top:50px;
	background-color: #FEF5E0;
	position: relative;
}
#content div.about .about-top .about-icon{
	height:80px; 
	width:80px;
	border-radius: 50%;
	background-color: #EBB94D;
	text-align:center;
	line-height: 80px;
	vertical-align: middle;
	color: white;
	font-size: 14px;
	font-weight: 400;
	position: absolute;
	top:-40px;
	left:calc(50% - 40px);
}

#content div.about .about-top .about-text-wrap{
	max-height:140px;
	max-width:860px;
	margin:0 auto;
	position: relative;
}
#content div.about .about-top .about-text-wrap p{
	padding:50px 0 50px 0;
	text-align: center;
	font-size: 24px;
	font-weight: 600;
	letter-spacing: 1.6px;
}
#content div.about .about-top .about-cornar-left{
	height: 50px;
	width: 50px;
	position: absolute;
	border-top: solid 4px #EBB94D;
	border-left: solid 4px #EBB94D;
}
#content div.about .about-top .about-cornar-right{
	height: 50px;
	width: 50px;
	position: absolute;
	right:0;
	bottom:0;
	border-right: solid 4px #EBB94D;
	border-bottom: solid 4px #EBB94D;
}
#content div.about .about-top .about-text-answer{
	padding:45px 0 45px 0;
	text-align: center;
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 1.5px;
}
#content div.about .about-bottom{
	padding-bottom: 50px;
}
#content div.about .about-bottom .about-bottom-wrap{
	border:solid 2px #EBB94D;
	background-color: white;
	max-width: 92%;
	height:200px;
	margin:0 auto;
	padding-bottom: 50px;
}
#content div.about .about-bottom .about-skills-cap p{
	text-align: center;
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 1.5px;
	padding:30px 0 30px 0;
}
#content div.about .about-bottom .about-skills-wrap{
	text-align: center;
}
#content div.about .about-skills-wrap .skill{
	padding-left: 20px;
	height:auto;
	display: inline-block;
	text-align: center;
}
#content div.about .about-skills-wrap .skill img{
	height:40%;
}
#content div.about .about-skills-wrap .skill p{
	font-size: 12px;
	font-weight: 300;
}
/*========= d i v . a b o u t s e c o n d =========*/
#content div.aboutsecond{
	background-image: url("public/aboutsecondbg.jpg");
	background-size: cover;
	background-position: center bottom;
	padding-bottom: 40px;
	letter-spacing: 1.5px;
} 
#content div.aboutsecond .top-wrap{
	text-align: center;
	padding:70px 0 40px 0;
	color:white;
}
#content div.aboutsecond .top-wrap p:nth-child(1){
	font-size: 28px;
	font-weight:600;
	padding-bottom: 30px;
}
#content div.aboutsecond .top-wrap p:nth-child(2){
	font-size: 20px;
	font-weight:600;
	padding-bottom: 25px;
}
#content div.aboutsecond .top-wrap p:nth-child(3){
	font-size: 20px;
	font-weight:600;
}
#content div.aboutsecond .top-wrap span{
	color:#EBB94D;
}
#content div.aboutsecond .bottom-wrap .steps{
	text-align: center;
}
#content div.aboutsecond .bottom-wrap .step{
	text-align: center;
	display: inline-block;
	width:30%;
	height:150px;
	background-color:white;
	padding:30px 0 35px 0;
	border-radius: 10px;
}
#content div.aboutsecond .bottom-wrap .step div{
	margin:0 auto;
	color:white;
	max-width:80%;
	padding:10px 0;
	background-color: #EBB94D;
	font-size: 16px;
	font-weight: bold;
	border-radius: 10px;
}
#content div.aboutsecond .bottom-wrap .step p{
	padding-top: 35px;
	font-size: 16px;
	font-weight: bold;
}
/*========= d i v . a b o u t t h i r d =========*/
#content div.aboutthird{
	text-align: center;
	padding:40px 0 45px 0;
	letter-spacing: 1.5px;
	color: white;
	background-color: #016EA9;
}
#content div.aboutthird p{
	font-size:16px;
	font-weight: 600;
}
#content div.aboutthird span{
	color:#EBB94D;
}
/*========= d i v . l e a r n i n g =========*/
#content div.learning .top{
	text-align: center;
	padding:70px 0 50px 0;
}
#content div.learning .top p:nth-child(1){
	letter-spacing: 1.5px;
	font-size:24px;
	font-weight: 600;
	padding-bottom: 50px;
}
#content div.learning .top span{
	font-size:14px;
}
#content div.learning .top p:nth-child(2){
	font-size: 16px;
}
#content div.learning .main{
	text-align: center;
}
#content div.learning .main img{
	padding:0 20px 0 20px;
}
#content div.learning p.bottom{
	text-align: center;
	padding:56px 0 70px 0;
	font-weight: 600;
}

/*========= d i v . m e r i t =========*/
#content div.merit{
	background-color: #FEF5E0;
}

#content div.merit .top-wrap{
	max-height:140px;
	max-width:860px;
	margin:0 auto;
	position: relative;
}
#content div.merit .top-wrap p{
	padding:30px 0 30px 0;
	text-align: center;
	font-size: 24px;
	font-weight: 600;
	letter-spacing: 1.6px;
}
#content div.merit .top-wrap span{
	font-size: 16px;
}
#content div.merit .cornar-left{
	height: 50px;
	width: 50px;
	position: absolute;
	border-top: solid 4px #EBB94D;
	border-left: solid 4px #EBB94D;
}
#content div.merit .cornar-right{
	height: 50px;
	width: 50px;
	position: absolute;
	right:0;
	bottom:0;
	border-right: solid 4px #EBB94D;
	border-bottom: solid 4px #EBB94D;
}

#content div.merit .main{
	text-align: center;
	padding-top: 40px;
}
#content div.merit .main .content{
	display: inline-block;
	width:25%;
	padding:0 20px 0 20px;
	vertical-align: top;
}
#content div.merit .main .content .imgone{
	background-image: url("public/learnfromfreelancer.jpg");
}
#content div.merit .main .content .imgtwo{
	background-image: url("public/learnfromprojects.jpg");
}
#content div.merit .main .content .imgthree{
	background-image: url("public/actuallyfree.jpg");
}
#content div.merit .main .content .img{
	background-position: center center;
	background-size: cover;
	height: 180px;
	width: 100%;
}
#content div.merit .main .content p.sub{
	font-size:20px ;
	font-weight:700;
	color:#EBB94D;
	letter-spacing: 1.6px;
	text-align: left;
}
#content div.merit .main .content p.cen{
	text-align: left;
	letter-spacing: 1.4px;
}

#content div.merit .bottom{
	padding:55px 0 55px 0;
}
#content div.merit .bottom .bottom-top{
	margin:0 auto;
	width:80%;
	border:solid 2px #EBB94D;
	border-radius: 5px;
	padding:40px 0 50px 0;
	background-color: white;
	text-align: center;
}
#content div.merit .bottom .top1{
	font-size:28px;
	font-weight: 600;
	letter-spacing: 1.6px;
	color:#EBB94D;
	padding-bottom: 10px;
}
#content div.merit .bottom .top2{
	font-size:20px;
	font-weight: 600;
	letter-spacing: 1.6px;
	padding-bottom: 10px;
}
#content div.merit .bottom .top3{
	font-size:16px;
	font-weight: 600;
	letter-spacing: 1.6px;
}
#content div.merit .bottom .bottom-bottom{
	padding-top: 45px;
	font-size:14px;
	font-weight: 300;
	text-align: center;
}
/*========= d i v . t e a c h e r w r a p =========*/
#content div.teacherwrap{
	background-image: url("public/teacherbgsp.jpg");
	background-size: cover;
	background-position: center center;
	text-align: center;
	padding: 70px 0 50px 0;
	color: white;
}
#content div.teacherwrap .teach-sub{
	font-size: 24px;
	font-weight: 600;
	letter-spacing:1.4px ;
}
#content div.teacherwrap .teach-content{
	font-size: 14px;
	font-weight:600;
	letter-spacing:1.4px ;
}
#content div.teacherwrap .teachers{
	margin:0 auto;
	text-align: center;
	width:90%;
}
#content div.teacherwrap .teachers .teacher{
	padding:180px 0 0 0;
	display: inline-block;
	width: 40%;
	vertical-align: top;
}
#content div.teacherwrap .teachers .intro img{
	position: absolute;
	top:-150px;
	left:calc(50% - 100px) ;
	text-align: center;
	border-radius: 50%;
	width:200px;
	height:200px;
}
#content div.teacherwrap .teachers .teacher .intro{
	display: inline-block;
	position: relative;
	width:80%;
	border:3px solid white;
	padding:70px 10px 10px 10px;
}
#content div.teacherwrap .teachers .teacher .intro-content{
	padding:10px 10px 10px 10px;
	text-align: left;
}


